FIREBASE_PROJECT_ID=power-sms-60eea
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@power-sms-60eea.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
PORT=3000